In [13]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
series1 = Series([6,7,2])
series

0    6
1    7
2    2
dtype: int64

In [11]:
series1.values

array([6, 7, 2])

In [12]:
series1.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
scores = Series(np.random.randn(5),index=["Chicago", "Houston", "San Francisco", "Dallas","New York"])
scores

Chicago          0.893449
Houston         -0.124033
San Francisco   -0.640391
Dallas          -0.571312
New York         0.232261
dtype: float64

In [20]:
scores["Houston"]

-0.12403319636860283

In [21]:
scores[scores>0]

Chicago     0.893449
New York    0.232261
dtype: float64

In [22]:
"Houston" in scores

True

In [24]:
# Convert series to a dict
scores_dict = scores.to_dict()
scores_dict

{'Chicago': 0.89344908247951027,
 'Dallas': -0.57131232377303687,
 'Houston': -0.12403319636860283,
 'New York': 0.23226093857528377,
 'San Francisco': -0.64039068708309177}

In [25]:
scores_from_dict = Series(scores_dict)
scores_from_dict

Chicago          0.893449
Dallas          -0.571312
Houston         -0.124033
New York         0.232261
San Francisco   -0.640391
dtype: float64

In [26]:
# Add two series
scores + scores_from_dict

Chicago          1.786898
Dallas          -1.142625
Houston         -0.248066
New York         0.464522
San Francisco   -1.280781
dtype: float64