In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
series = Series([1,2,3,4], index=['A','B','C','D'])
series

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
series2 = series.reindex(['A','B','C','D','E','F'])
series2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
# Define fill values
series3 = series.reindex(['A','B','C','D','E','F'],fill_value=0)
series3

A    1
B    2
C    3
D    4
E    0
F    0
dtype: int64

In [16]:
# Interlopate fill values
series4 = Series(['Texas', 'California', 'New York', 'Florida'],index=[0,5,10,15])
series4

0          Texas
5     California
10      New York
15       Florida
dtype: object

In [19]:
series4.reindex(range(15),method='ffill')

0          Texas
1          Texas
2          Texas
3          Texas
4          Texas
5     California
6     California
7     California
8     California
9     California
10      New York
11      New York
12      New York
13      New York
14      New York
dtype: object

In [22]:
# Dataframe reindexing

df = DataFrame(np.random.random(25).reshape((5,5)),index=['A','B','C','D','E'],columns=['col1','col2','col3'
                                                                                       ,'col4','col5'])
df

       col1      col2      col3      col4      col5
A  0.432460  0.457954  0.442389  0.751356  0.108052
B  0.956664  0.901127  0.195580  0.717819  0.893159
C  0.001796  0.516071  0.452506  0.791838  0.908690
D  0.880011  0.170966  0.791421  0.999524  0.255429
E  0.928628  0.330850  0.410848  0.904586  0.600912

In [28]:
df2 = df.reindex(['A','B','C','D','E','F'])
df2.reindex(columns=['col1','col2','col3','col4','col5','col6'])

       col1      col2      col3      col4      col5  col6
A  0.432460  0.457954  0.442389  0.751356  0.108052   NaN
B  0.956664  0.901127  0.195580  0.717819  0.893159   NaN
C  0.001796  0.516071  0.452506  0.791838  0.908690   NaN
D  0.880011  0.170966  0.791421  0.999524  0.255429   NaN
E  0.928628  0.330850  0.410848  0.904586  0.600912   NaN
F       NaN       NaN       NaN       NaN       NaN   NaN